html {
  font-family: "Poppins", sans-serif !important;
  width: 70%;
  margin: auto;
  overflow-x: hidden;
}

body {
  background: var(--main-background);
  color: var(--main-font);
  font-family: "Poppins", sans-serif !important;
}

P {
  max-width: 60ch;
  line-height: 1.5;
}

.width-30 {
  width: 30% !important;
}

.width-50 {
  width: 50% !important;
}

.width-60 {
  width: 60% !important;
}

.width-70 {
  width: 70% !important;
}

.width-80 {
  width: 80% !important;
}

.margin-top {
  margin-top: 100px;
}

.margin-top-200 {
  margin-top: 200px;
}

.dark {
  --main-background: #242424;
  --main-font: white;
  --main-tags: rgb(99, 99, 99);
  --works-sky: #00e1fd;
  --works-blue: #2e51c1;
  --works-pink: #fc007a;
  --works-green: #00ff5b;
  --works-orange: #ff5f2b;
  --works-yellow: #ffe53b;
  --works-gris: rgb(99, 99, 99);
}

.light {
  --main-background: #efebe5;
  --main-font: rgb(38, 36, 38);
  --main-tags: rgb(99, 99, 99);
  --works-sky: #23afc2;
  --works-blue: #2e51c1;
  --works-pink: #fc007a;
  --works-green: #0ecb50;
  --works-orange: #f9774b;
  --works-yellow: #ffdd00;
  --works-gris: rgb(99, 99, 99);
}

.sky {
  -webkit-text-stroke: 2px var(--works-sky) !important;
  text-shadow: 0 0 5px var(--works-sky) !important;
}

.orange {
  -webkit-text-stroke: 2px var(--works-orange) !important;
  text-shadow: 0 0 5px var(--works-orange) !important;
}

.pink {
  -webkit-text-stroke: 2px var(--works-pink) !important;
  text-shadow: 0 0 5px var(--works-pink) !important;
}

.blue {
  -webkit-text-stroke: 2px var(--works-blue) !important;
  text-shadow: 0 0 5px var(--works-blue) !important;
}

.green {
  -webkit-text-stroke: 2px var(--works-green) !important;
  text-shadow: 0 0 5px var(--works-green) !important;
}

.yellow {
  -webkit-text-stroke: 2px var(--works-yellow) !important;
  text-shadow: 0 0 5px var(--works-yellow) !important;
}

.gris {
  -webkit-text-stroke: 2px var(--works-gris) !important;
  text-shadow: 0 0 5px var(--works-gris) !important;
}

.color-sky {
  color: var(--works-sky) !important;
}

.color-orange {
  color: var(--works-orange) !important;
}

.color-pink {
  color: var(--works-pink) !important;
}

.color-blue {
  color: var(--works-blue) !important;
}

.color-green {
  color: var(--works-green) !important;
}

.color-yellow {
  color: var(--works-yellow) !important;
}

.color-gris {
  color: var(--works-gris) !important;
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

:root {
  --toggle-light: #242424;
  --toggle-dark: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

/* The switch - the box around the slider */
.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 30px;
  bottom: 30px;
  right: 30px;
}

/* Hide default html checkbox */
.switch input {
  opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-light);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 32px;
  bottom: 5px;
  background-color: #fff;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

input:checked + .slider:before {
  transform: translateX(-24px);
}
.slider,
.round {
  border-radius: 34px;
}

.round::before {
  border-radius: 50%;
}

input:checked + .round::before {
  background-color: hsl(230, 17%, 14%);
}
