.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

.no-style {
  list-style: none;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
}

.header-nav ul li a {
  color: var(--main-font);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.header-nav ul li a:hover {
  color: var(--main-tags);
}

hr {
  margin-top: 7%;
}

iconify-icon {
  display: none;
  cursor: pointer;
}

.rights {
  text-align: center;
  margin: 2% auto;
}
