.portfolio-sisi {
  margin-top: 1%;
}

/* OEUVRES */

.work-title {
  font-family: "Poppins" !important;
  font-weight: 900;
  font-size: 9.5vw;
  text-transform: uppercase;
  color: var(--main-background);
}

.licence {
  font-size: 9.4vw;
}

.font-110 {
  font-size: 6.1vw !important;
}

.font-120 {
  font-size: 6.7vw !important;
}

.font-150 {
  font-size: 8.4vw !important;
}

.work-mockup {
  width: 100%;
  margin: auto;
}

.work-mockup {
  display: flex;
  margin-bottom: 1%;
}

.work-align {
  display: flex;
  flex-direction: row;
}

.work-descr {
  font-size: 1.4vw;
  font-weight: 100;
  width: 70%;
  margin-right: 3%;
  color: var(--text-descr);
}

.work-right {
  padding-left: 3%;
  border-left: 2px solid var(--main-font);
  line-height: 1.5;
  font-size: 1vw;
  font-weight: 400;
}

.work-softwares span {
  font-weight: 600;
}

.work-button {
  text-decoration: none;
  color: var(--main-font);
  margin-left: 25%;
}

.work-button:hover {
  text-decoration: underline;
  color: var(--main-tags);
}

.voirplus-button {
  text-align: center;
  margin-top: 1%;
}

.work-voirplus {
  text-decoration: none;
  font-size: 1.4vw;
  text-align: center;
  color: var(--works-blue);
}
.work-voirplus:hover {
  text-decoration: underline;
}

iframe {
  width: 100%;
  height: 650px;
  margin-bottom: 1%;
}

.link {
  color: var(--main-font);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.Laylow {
  margin-bottom: 100px;
}
